.addnote {
    max-width: 600px;
    margin: 0 auto;
    padding: 0 1rem;
}

.addnote > textarea {
    width: 100%;
    height: 200px;
    resize: none;
}

.addnote > button {
    display: block;
    margin: 0 auto;
}
