.note {
    margin: 1rem 0;
    border-radius: 5px;
    background-color: var(--noteBackground);
    padding: 0.5rem;
    display: flex;
    align-items: center;
    word-break: break-word;
}

.note__content {
    margin-right: 1em;
}

.note__delete-btn {
    margin-left: auto;
    flex-shrink: 0;
}

.note__date {
    display: block;
    margin-top: 1em;
    font-style: italic;
    font-size: 0.8em;
    cursor: pointer;
}